.page1{
    background-color: rgb(106, 184, 252);
}
.page2{
    background-color: rgb(81, 141, 193);
}
.page3{
    background-color: rgb(247, 162, 250);
}
.page4{
    background-color: rgb(0, 0, 0);
}
.page5{
    background-color: rgb(51, 245, 58);
}
.page6{
    background-color: rgb(0, 124, 232);
}