<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  <div class="nav_bar">
    <aside class="menu white-bg down">
      <section class="main-content menu-content img-class">
        <a href="/"><h1><img src="../../assets/img/logoSemFundo.png" alt="logo"></h1></a>
        <h5>Rede de Aplicação de ciência e tecnologia</h5>
        <nav>
          <ul>
            <li><a href="/reactinnovation/armdigital">Pesquisa (mestrado e ic)</a></li>
            <li><a href="/extension/home">EXTENSION</a></li>
            <li><a href="/reactinnovation/armdigital">INNOVATION</a></li>
          </ul>
        </nav>
      </section>
    </aside>
  </div>

<div class="header section">
  <div class="container-carrossel main-content">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
  
      <div class="carousel-inner">
        <div class="carousel-item active h-100 w-120">
          <img src="../../assets/img/img3.jpg" alt="">
        </div>
        <div class="carousel-item h-100">
          <img src="../../assets/img/img6.jpg" alt="">
        </div>
        <div class="carousel-item h-100">
          <img src="../../assets/img/img5.jpg" alt="">
        </div>
      </div>
  
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="section-noticias">
      <div class="line">
        <h1>Notícias</h1>
      </div>
      <div class="noticias main-content">
        <div class="noticia">
          <img src="../../assets/img/img3.jpg" alt="">
        </div>
        <div class="noticia">
          <img src="../../assets/img/img6.jpg" alt="">
        </div>
        <div class="noticia">
          <img src="../../assets/img/img5.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


  <section class="intro">
    <div class="intro-content">
      <h1>O que é a react</h1>
      <div class="testee">
        <div class="intro-text">
          acadêmica e profissional incorporadora de talentos e incubadora de projetos. A
          A Rede de Aplicação de Ciência e Tecnologia - ReACT, é um coorporação
          ReACT é estruturada em tres Equipes de desenvolvimento a saber: Scitechapplication, 
          Zenite-VANTs e Greentech-rethinking mais as Diretorias de Projetos
          e de Marketing. Cada uma das Equipes tem sua vocação direcionada a campos de
          atuação voltados para a aplicação dos principios da ciência no desenvolvimento
          de tecnologias. Professores e profissionais são o alicerce de credibilidade e
          reconhecimento técnico da qualidade dos produtos ReACT. Os projetos
          desenvolvidos pelas Equipes permeiam as modalidades mais diversas como
          pesquisa, extensão, inovação e empreendedorismo. Por fim, o projeto busca
          integrar talentos e incubar projetos
        </div>
        <div class="intro-img">
          <img src="../../assets/img/tecnology.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-escuro equipes-section section">
    <div class="content">
      <h1>Conheça nossas equipes</h1>
      <div class="equipes">
        <a href="/"><img src="../../assets/img/reactLogos/arm.png" alt=""></a>
        <a href="/"><img src="../../assets/img/reactLogos/greentech.png" alt=""></a>
        <a href="/"><img src="../../assets/img/reactLogos/RE.png" alt=""></a>
        <a href="/"><img src="../../assets/img/reactLogos/react.png" alt=""></a>
        <a href="/"><img src="../../assets/img/reactLogos/scitech.png" alt=""></a>
        <a href="/"><img src="../../assets/img/reactLogos/zenite.png" alt=""></a>
      </div>
  
    </div>
  </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
    <script src="./assets/js/bundle.js"></script>
    <script src="./assets/js/script.js"></script>
</body>
</html>